.task-completed {
    text-decoration: line-through !important;
 }
 

 .onlyHeader {
    overflow: hidden;
    background-color: greenyellow;
    padding: 20px 10px;
  }
  
  .onlyHeader a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  
  
  @media screen and (max-width: 500px) {
    .onlyHeader a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .headertoRight {
      float: none;
    }
  }

        .footer {
    left: 0;
    bottom: 0;
                width: 100%;
    background-color: greenyellow;
    color: black;
    text-align: center;
    padding: 1rem 0; 
    margin-top: 2rem; 

            }

                .container {
    margin-bottom: 4rem; 
                }

@media (max-width: 768px) {
    .container {
        margin-bottom: 2rem;
    }
}
        .lead {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
            }

@media (max-width: 768px) {
                    .lead {
        text-align: center;
        margin-bottom: 2rem;
    }
}